.container{
    display: flex;
    flex-direction: row;
}

.details{
    display: flex;
    flex-direction: column;
}

.date_details{
    display: flex;
    flex-direction: row;
}

.thumbnail{
    padding-right: 5%;
}


